.head {
  width: 100%;
  height: .44rem;
  background: rgba(0, 0, 0, 0.01);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  .head .return {
    float: left;
    width: .16rem;
    height: .17rem;
    margin-left: .14rem;
    padding-top: .14rem; }
    .head .return img {
      width: .16rem;
      height: .17rem; }
  .head .search {
    float: left;
    width: 2.30rem;
    height: .30rem;
    border-radius: .15rem;
    margin-left: .20rem;
    margin-top: .07rem;
    background: #F0F0F0;
    position: relative; }
    .head .search img {
      width: .14rem;
      height: .14rem;
      margin-left: .30rem;
      margin-top: .08rem;
      float: left; }
    .head .search input {
      height: .30rem;
      line-height: .30rem;
      color: #A6A6A6;
      font-size: .14rem;
      margin-left: .10rem;
      width: 1.59rem;
      float: left;
      border: 0;
      background: #F0F0F0; }
  .head .like {
    width: .20rem;
    height: .20rem;
    margin-left: .23rem;
    margin-top: .11rem;
    float: left; }
    .head .like img {
      width: .20rem;
      height: .20rem; }
  .head .share {
    width: .20rem;
    height: .20rem;
    margin-left: .19rem;
    margin-top: .11rem;
    float: left; }
    .head .share img {
      width: .20rem;
      height: .20rem; }

.hotel {
  width: 100%;
  height: 1.95rem;
  position: relative; }
  .hotel img {
    width: 100%;
    height: 1.95rem; }
  .hotel .message {
    position: absolute;
    top: .99rem;
    left: .16rem;
    color: #ffffff; }
    .hotel .message .left {
      float: left;
      width: .50rem;
      height: .50rem;
      border-radius: .02rem; }
      .hotel .message .left img {
        width: .50rem;
        height: .50rem;
        border-radius: .02rem; }
    .hotel .message .right {
      float: left;
      margin-left: .05rem; }
      .hotel .message .right .name {
        line-height: .20rem;
        font-size: .14rem; }
      .hotel .message .right .total {
        margin-top: .10rem; }
        .hotel .message .right .total .total1 {
          float: left;
          background: url(../img/index/700@2x.png) no-repeat;
          width: .40rem;
          height: .14rem;
          text-align: center;
          line-height: .14rem;
          font-size: .10rem;
          margin-right: .10rem;
          margin-top: .02rem; }
        .hotel .message .right .total .total2 {
          float: left;
          height: .17rem;
          text-align: center;
          line-height: .17rem;
          font-size: .12rem; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: .10rem 0;
  line-height: .22rem;
  height: .22rem;
  font-size: .16rem;
  font-weight: bold;
  border-bottom: .01rem solid #E4E7F1; }

.tu {
  margin-top: .16rem;
  width: 100%; }
  .tu .quan {
    background: #F8F9FE;
    width: 3.43rem;
    margin: auto;
    height: 1.10rem;
    border-radius: .04rem; }
    .tu .quan .title {
      line-height: .33rem;
      height: .33rem;
      font-size: .14rem;
      font-weight: bold;
      margin-left: .10rem;
      color: #3d3d3d; }
    .tu .quan .quan1 {
      width: 3.23rem;
      padding: 0 .10rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .tu .quan .quan1 li {
        width: 1.03rem;
        height: .68rem;
        background: red;
        display: flex;
        flex-direction: row;
        color: #ffffff; }
        .tu .quan .quan1 li .left {
          width: .74rem; }
          .tu .quan .quan1 li .left .d4 {
            line-height: .14rem;
            height: .14rem;
            font-size: .10rem;
            margin-top: .04rem;
            margin-left: .08rem; }
          .tu .quan .quan1 li .left .d5 {
            line-height: .30rem;
            height: .30rem;
            font-size: .30rem;
            margin-left: .08rem; }
          .tu .quan .quan1 li .left .d6 {
            line-height: .14rem;
            height: .14rem;
            font-size: .10rem;
            margin-left: .08rem;
            margin-top: .02rem; }
        .tu .quan .quan1 li .right {
          flex: 1;
          font-size: .10rem; }

.miandan {
  width: 100%;
  margin-top: .16rem;
  border-bottom: .01rem solid #E4E7F1; }
  .miandan .tupian {
    width: 3.43rem;
    height: 1.93rem;
    margin: auto;
    position: relative;
    border-radius: .02rem .02rem 0 0; }
    .miandan .tupian img {
      width: 3.43rem;
      height: 1.93rem;
      border-radius: .02rem .02rem 0 0; }
    .miandan .tupian .time {
      position: absolute;
      top: .14rem;
      left: .12rem; }
      .miandan .tupian .time div {
        line-height: .20rem;
        font-size: .14rem;
        color: #ffffff;
        font-weight: bold; }
      .miandan .tupian .time ul {
        margin-top: .02rem; }
        .miandan .tupian .time ul li {
          font-size: .10rem;
          text-align: center;
          float: left; }
        .miandan .tupian .time ul li:nth-child(2n-1) {
          width: .17rem;
          height: .17rem;
          border-radius: 50%;
          background: #3D3D3D;
          color: #ffffff;
          line-height: 0.17rem; }
        .miandan .tupian .time ul li:nth-child(2n) {
          width: .10rem;
          height: .17rem;
          color: #3D3D3D;
          line-height: 0.17rem; }
    .miandan .tupian .miandantu {
      position: absolute;
      top: 0;
      right: .05rem;
      width: .70rem;
      height: .70rem; }
      .miandan .tupian .miandantu img {
        width: .70rem;
        height: .70rem; }
    .miandan .tupian .miandanxiangqing {
      position: absolute;
      top: 1.19rem;
      left: .12rem;
      height: .16rem;
      border-radius: .02rem;
      background: rgba(0, 0, 0, 0.3);
      color: #ffffff;
      font-size: .10rem;
      line-height: .16rem; }
      .miandan .tupian .miandanxiangqing li {
        margin-top: .03rem;
        float: left;
        line-height: .10rem;
        border-right: 1px solid #ffffff;
        padding: 0 .05rem;
        height: .10rem; }
      .miandan .tupian .miandanxiangqing li:nth-child(2) {
        border-right: 0; }
    .miandan .tupian .name {
      position: absolute;
      top: 1.35rem;
      left: .10rem;
      height: .25rem;
      line-height: .25rem;
      font-size: .18rem;
      color: #ffffff; }
    .miandan .tupian .dingwei {
      position: absolute;
      top: 1.49rem;
      right: .10rem; }
      .miandan .tupian .dingwei span {
        line-height: .14rem;
        font-size: .10rem;
        color: #ffffff;
        margin-left: .03rem;
        float: right; }
      .miandan .tupian .dingwei img {
        width: .14rem;
        height: .14rem;
        float: right; }
    .miandan .tupian .chakan {
      position: absolute;
      top: 1.73rem;
      right: 0; }
      .miandan .tupian .chakan li {
        float: right;
        line-height: .17rem;
        color: #ffffff;
        font-size: .10rem;
        padding: 0 .10rem; }
      .miandan .tupian .chakan li:nth-child(2) {
        height: .08rem;
        border-right: .01rem solid #ffffff;
        padding: 0;
        margin-top: .04rem; }
      .miandan .tupian .chakan li:nth-child(3) img {
        width: .17rem;
        height: .17rem;
        float: left;
        margin-right: .05rem; }
      .miandan .tupian .chakan li:nth-child(3) span {
        float: left; }
    .miandan .tupian .tubiao {
      position: absolute;
      top: 1.74rem;
      left: .10rem;
      border: .02rem solid #ffffff;
      border-radius: 50%;
      width: .28rem;
      height: .28rem; }
      .miandan .tupian .tubiao img {
        width: .28rem;
        height: .28rem;
        border-radius: 50%; }
    .miandan .tupian .btn {
      position: absolute;
      top: .62rem;
      left: 1.53rem;
      width: .48rem;
      height: .48rem; }
      .miandan .tupian .btn img {
        width: .48rem;
        height: .48rem; }
  .miandan .pinglun {
    width: 100%;
    height: .46rem;
    margin-bottom: .16rem; }
    .miandan .pinglun ul {
      width: 3.41rem;
      margin: auto;
      border: .01rem solid #F8F9FE; }
      .miandan .pinglun ul li {
        float: right;
        line-height: .46rem;
        font-size: .10rem;
        color: #000000; }
      .miandan .pinglun ul li:nth-child(1) {
        float: left;
        font-size: .12rem;
        color: #3D3D3D;
        font-weight: bold;
        margin-left: .12rem; }
      .miandan .pinglun ul li:nth-child(2) {
        font-weight: bold;
        margin-right: .10rem;
        width: .20rem;
        height: .20rem; }
        .miandan .pinglun ul li:nth-child(2) img {
          width: .20rem;
          height: .20rem;
          margin-top: .13rem; }
      .miandan .pinglun ul li:nth-child(3) {
        margin-right: .20rem; }
      .miandan .pinglun ul li:nth-child(4) {
        margin-right: .05rem; }
        .miandan .pinglun ul li:nth-child(4) img {
          width: .20rem;
          height: .20rem;
          margin-top: .13rem; }
      .miandan .pinglun ul li:nth-child(5) {
        margin-right: .28rem; }
      .miandan .pinglun ul li:nth-child(6) {
        margin-right: .05rem; }
        .miandan .pinglun ul li:nth-child(6) img {
          width: .20rem;
          height: .20rem;
          margin-top: .12rem; }

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  line-height: .50rem;
  font-size: .14rem;
  font-weight: bold;
  background: #ffffff; }
  .foot img {
    margin-top: .13rem;
    width: .24rem;
    height: .24rem; }
  .foot .f1 {
    margin-left: .21rem;
    width: .01rem;
    height: .10rem;
    margin-top: .21rem; }
    .foot .f1 img {
      width: .01rem;
      height: .10rem; }

.xian {
  position: fixed;
  left: 1.21rem;
  bottom: .09rem;
  width: 1.34rem;
  height: .05rem;
  border-radius: 1rem;
  background: #000; }

/*# sourceMappingURL=home-153huodong.css.map */
