html,body{
    background: #F8F9FE;
}
.head{
    width: 100%;
    height: .44rem;
    .return{
        float: left;
        width: .16rem;
        height: .17rem;
        margin-left: .14rem;
        padding-top: .14rem;
        img{
            width: .16rem;
            height: .17rem; 
        }
    }
    .title{
        height: .25rem; 
        line-height: .25rem;
        color: #3D3D3D;
        font-size: .18rem;
        font-weight: bold;
        padding-top: .14rem;
        margin-left: 1.22rem;
        float: left;
    }
    .search{
        float: left;
        width: .20rem;
        height: .20rem; 
        padding-top: .12rem;
        margin-left: .69rem; 
        img{
            width: .20rem;
            height: .20rem;
        }
    }
    .information{
        float: left;
        padding-top: .20rem;
        margin-left: .20rem; 
        position: relative;
        li{
            width: .04rem;
            height: .04rem;
            float: left;
            margin-right: .03rem;
            background: #3D3D3D;
            border-radius: 50%;
        }
        div{
            position: absolute;
            top: .07rem;
            left: .06rem;
            width: .20rem;
            height: .12rem;
            border-radius: .03rem;
            background:#FF3053;
            color: #ffffff;
            font-size:  .10rem;
            text-align: center;
            line-height: .12rem;
        }
    }
}

.nav{
    width: 100%;
    height: .40rem;
    line-height: .40rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: .14rem;
    font-weight: bold;
    color:rgba(69,69,69,1);
    
}

.shangpin{
    width: 100%;
    border-top: .01rem solid #E4E7F1;
    
    .module{
        width: 3.39rem;
        margin: auto;
        background:rgba(255,255,255,1);
        border-radius: .08rem;
        margin-top: .16rem;
        .goods{
            width: 3.39rem;
            margin: auto;
           
            .title{
                width: 3.19rem;
                margin: auto;
                height: .18rem;
                line-height: .18rem;
                font-size: .12rem;
                padding-top: .18rem ;
                .img1{
                    float: left;
                    width: .18rem;
                    height: .18rem;
                    border-radius: 50%;
                    
                    margin-right: .10rem;
                    img{
                        width: .18rem;
                        height: .18rem;
                        border-radius: 50%;
                    }
                }
                span{
                    float: left;
                }
                .img2{
                    float: left;
                    width: .06rem;
                    height: .12rem; 
                    margin-top: .04rem;
                    margin-left: .05rem;
                    img{
                        width: .06rem;
                        height: .11rem;
                    }
                }
                .deal{
                    color:rgba(255,48,83,1);
                    font-size: .10rem;
                    float: right;
                }
            }
            .shangpin1{
                width: 3.19rem;
                margin: auto;
                padding-top: .16rem;
                
                .check{
                    float: left;
                    padding-top: .21rem;
                }
                 .goodsimg{
                     float: left;
                     width: .60rem;
                     height: .60rem;
                     border-radius: .02rem;
                     margin-top: .03rem;
                     img{
                         width: .60rem;
                         height: .60rem;
                         border-radius: .02rem;
                     }
                 }
                 .center{
                     float: left;
                     margin-left: .10rem;
                     width: 1.80rem;
                     
                     
                    .goodsname{
                    height: .40rem;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    line-height: .20rem;
                    font-size: .14rem;
                        
                    }
                    .site{
                        margin-top: .10rem;
                        padding: 0 .06rem;
                        height: .20rem;
                        
                        background:rgba(248,249,254,1);
                        line-height: .20rem;
                        color: #ADB2C6;
                        border: 0;
                        border-radius: .02rem;
                        font-size: .12rem;
                        
                    }
                    .welfare{
                        margin-top: .10rem;
                        padding: 0 .06rem;
                        height: .14rem;
                        border-radius: .02rem;
                        font-size: .08rem;
                        line-height: .14rem;
                        
                        li{
                            float: left;
                            margin-right: .10rem;
                            background:rgba(255,233,237,1);
                            color:rgba(255,48,83,1);
                        }
                    }
                   
        
                 }
                 .right{
                     float: right;
                    .goodsprice{
                        line-height: .20rem;
                        float: right;
                        font-size: .12rem;
                        text-decoration:line-through;
                    }
                    .num{
                        margin-top: .42rem;
                        line-height: .20rem;
                        text-align: right;
                        font-size: .14rem;
                        color: #ADB2C6;
                    }
                 }
                 
        
             }
             .total{
                 width: 3.19rem;
                 margin: auto;
                border-bottom: .01rem dashed #ADB2C6;
                text-align: right;
                padding-top: .20rem;
                font-size:.12rem;
                line-height:.17rem;
                text-align: right;
                color:rgba(69,69,69,1);
                padding-bottom: .10rem;
            }
    
            
        }
        
        .al{
            width: 100%;
            padding-bottom: .10rem;
            padding-top: .10rem;
            .btn{
                float: right;
                margin-right: .20rem;
                width:.60rem;
                height:.22rem; 
                border:.01rem solid #454545;
                border-radius: .11rem;
                line-height: .22rem;
                text-align: center;
                font-weight:500;
                font-size: .12rem;
                
            }
        }
        
    }
    
}

.xian{
    position: fixed;
    left: 1.21rem;
    bottom: .09rem;
    width: 1.34rem;
    height: .05rem;
    border-radius: 1rem;
    background: #000;
}