.head{
    width: 100%;
    height: .44rem;
    .return{
        float: left;
        width: .16rem;
        height: .17rem;
        margin-left: .14rem;
        padding-top: .14rem;
        img{
            width: .16rem;
            height: .17rem; 
        }
    }
    .title{
        height: .25rem; 
        line-height: .25rem;
        color: #3D3D3D;
        font-size: .18rem;
        font-weight: bold;
        padding-top: .14rem;
        margin-left: 1.22rem;
        float: left;
    }
    .search{
        float: left;
        width: .20rem;
        height: .20rem; 
        padding-top: .12rem;
        margin-left: .69rem; 
        img{
            width: .20rem;
            height: .20rem;
        }
    }
    .information{
        float: right;
        padding-top: .20rem;
        margin-right: .24rem; 
        position: relative;
        li{
            width: .04rem;
            height: .04rem;
            float: left;
            margin-right: .03rem;
            background: #3D3D3D;
            border-radius: 50%;
        }
        div{
            position: absolute;
            top: .07rem;
            left: .06rem;
            width: .20rem;
            height: .12rem;
            border-radius: .03rem;
            background:#FF3053;
            color: #ffffff;
            font-size:  .10rem;
            text-align: center;
            line-height: .12rem;
        }
    }
}


.cort{
    width: 100%;
    height: .40rem;
    li{
        float: left;
        font-size: .14rem;  
        margin-top: .08rem;
        line-height: .20rem;   
    }
    li:nth-child(1){
        margin-left: .25rem;
        .btn1{
            width: .10rem;
            height: .10rem;
            margin-left: .05rem;
            float: right;
            margin-top: .05rem;
            img{
                width: .10rem;
                height: .10rem;
            }
        }
    }
    li:nth-child(2){
        margin-left: .51rem;
        .btn2{
            width: .10rem;
            height: .10rem;
            margin-left: .05rem;
            float: right;
            margin-top: .05rem;
            img{
                width: .10rem;
                height: .10rem;
            }
        }
    }
    li:nth-child(3){
        margin-left: .37rem;
        .btn3{
            width: .10rem;
            height: .10rem;
            margin-left: .05rem;
            float: right;
            margin-top: .05rem;
            img{
                width: .10rem;
                height: .10rem;
            }
        }
    }
    li:nth-child(4){
        margin-left: .36rem;
        .btn4{
            width: .12rem;
            height: .12rem;
            margin-left: .05rem;
            float: right;
            margin-top: .05rem;
            img{
                width: .12rem;
                height: .12rem;
            }
        }
    }
}

.picture{
    width: 100%;
    padding-top: .16rem;
    border-top: .01rem solid #F8F9FE;
    .picture1{
        width: 3.43rem;
        height: 1.93rem;
        margin: auto;
        img{
            width: 3.43rem;
            height: 1.93rem;
        }
    }
}


.dianjia{
    width: 100%;   
    .dianjia1{
        margin-top: .16rem;
        .tupian{
            width: 3.43rem;
            height: 1.93rem;
            margin: auto;
            position: relative;
            border-radius:.02rem .02rem 0 0;
            img{
                width: 3.43rem;
                height: 1.93rem;
                border-radius:.02rem .02rem 0 0;
            }
         
            .average{
                position: absolute;
                top: .10rem;
                right: .09rem;
                height: .20rem;
                line-height: .20rem;
                border-radius:.10rem;
                padding: 0  .07rem;
                font-size: .08rem;
                color: #ffffff;
                background-image: -webkit-linear-gradient(left, rgba(255, 76, 38, .7), rgba(255, 1, 193, .7) ); 

            }
            .xiaofeixiangqing{
                position: absolute;
                top: 1.19rem;
                left: .12rem;
                height: .16rem;
                border-radius: .02rem;
                background: rgba(0, 0,0, .3);
                color:#ffffff;
                font-size:.10rem;
                line-height: .16rem;
                padding: 0 .05rem;
            }
            .name{
                position: absolute;
                top: 1.36rem;
                left: .10rem;
                height: .25rem;
                line-height: .25rem;
                font-size: .18rem;
                color: #ffffff;
                font-weight: bold;
            }
            .dingwei{
                position: absolute;
                top: 1.49rem;
                right: .10rem;
                span{
                    line-height: .14rem;
                    font-size: .10rem;
                    color: #ffffff;
                    margin-left: .03rem;
                    float: right;
                }
                img{
                    width: .14rem;
                    height: .14rem;
                    float: right;
                }
            }
            .chakan{
                position: absolute;
                top:1.69rem;
                right:0;
                li{
                    float: right;
                    line-height: .17rem;
                    color: #ffffff;
                    font-size: .10rem;
                    padding: 0 .10rem;
                }  
                li:nth-child(2){
                    height: .08rem;
                    border-right: .01rem solid #ffffff;
                    padding: 0 ;
                    margin-top: .04rem;
                }
                li:nth-child(3){
                    img{
                        width: .17rem;
                        height: .17rem;
                        float: left;
                        margin-right: .05rem;
                    }
                    span{
                        float: left;
                    }
                }
            }
            .tubiao{
                position: absolute;
                top:1.75rem;
                left: .10rem;
                border:.02rem solid #ffffff;
                border-radius: 50%;
                width: .17rem;
                height: .17rem;
                img{
                    width: .30rem;
                    height: .30rem;
                    border-radius: 50%;
                } 
            }
            .btn{
                position: absolute;
                top: .62rem;
                left: 1.53rem;
                width: .48rem;
                height: .48rem;
                img{
                    width: .48rem;
                    height: .48rem;
                }
            }
        }
    
        .pinglun{
            width: 100%;
            height: .46rem;
            margin-bottom: .16rem;
            ul{
                width: 3.41rem;
                margin: auto;
                border: .01rem solid #F8F9FE;
                li{
                    float: right;
                    line-height: .46rem;
                    font-size: .10rem;
                    color:#000000; 
                }
                li:nth-child(1){
                    float: left;
                    font-size: .12rem;
                    color: #3D3D3D;
                    font-weight: bold;
                    margin-left: .12rem;
                }
                li:nth-child(2){
                    font-weight: bold;
                    margin-right: .09rem;
                    width: .20rem;
                    height: .20rem;
                    img{
                        width: .20rem;
                        height: .20rem;
                        margin-top: .13rem; 
                    }
                }
                li:nth-child(3){
                    margin-right: .20rem;  
                }
                li:nth-child(4){
                    margin-right: .05rem;
                    img{
                        width: .20rem;
                        height: .20rem; 
                        margin-top: .13rem; 
                    }  
                }
                li:nth-child(5){
                    margin-right: .28rem;  
                }
                li:nth-child(6){
                    margin-right: .05rem;
                    img{
                        width: .20rem;
                        height: .20rem; 
                        margin-top: .12rem; 
                    }  
                }
            }
        }
    
    }
    
}

.xian{
    position: fixed;
    left: 1.21rem;
    bottom: .09rem;
    width: 1.34rem;
    height: .05rem;
    border-radius: 1rem;
    background: #000;
}